<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        I'm the SECOND Modal
      </div>
      <div class="modal-body" id="subscription-content">
        Argument is: '{{argument}}'
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="done()">Done</button>
      </div>
    </div>
  </div>
</div>
